:host{
    overflow-y: scroll;
    height: 150vh;
}

mat-form-field{
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

mat-expansion-panel{
    width: 90%;
    display: inline-block;
}
mat-icon{
    margin-bottom: 2rem;
}

.filter-grid mat-grid-tile{
    border-right: rgba(128, 128, 128, 0.34) dashed 0.05rem
}