<h1 mat-dialog-title>Login</h1>
<div mat-dialog-content>
  <form (ngSubmit)="loginForm.form.valid && login()" id="loginForm" #loginForm="ngForm">

    <mat-form-field>
      <input name="username" #userIDInput type="text" placeholder="Username" matInput required [(ngModel)]="username">
    </mat-form-field>
    <mat-form-field>
      <input name="password" type="password" placeholder="Password" matInput required [(ngModel)]="password">
    </mat-form-field>
  </form>
  <button (click)="resetPassword(userIDInput.value)" mat-button>I forgot my password</button>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="dialogRef.close()">Cancel</button>
  <button mat-raised-button form="loginForm" color="primary" cdkFocusInitial>Login</button>
</div>