<mat-expansion-panel class="m-2" (opened)="panelOpenState = true" (closed)="panelOpenState = false">
  <mat-expansion-panel-header>
      <mat-panel-title>
          Filter Products
      </mat-panel-title>

      <mat-panel-description>
          {{panelOpenState ? 'Filter': 'Click to expand' }}
      </mat-panel-description>
  </mat-expansion-panel-header>
  <div>
      Date:
      <br>
      <mat-form-field>
          <input matInput [min]="filter.date.after" #beforeInput [(ngModel)]="filter.date.before" (ngModelChange)="filterChanged()"
              [matDatepicker]="beforePicker" placeholder="Before">
          <mat-datepicker-toggle matSuffix [for]="beforePicker"></mat-datepicker-toggle>
          <mat-datepicker #beforePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
          <input matInput #afterInput [max]="filter.date.before" [(ngModel)]="filter.date.after" (ngModelChange)="filterChanged()"
              [matDatepicker]="afterPicker" placeholder="After">
          <mat-datepicker-toggle matSuffix [for]="afterPicker"></mat-datepicker-toggle>
          <mat-datepicker #afterPicker></mat-datepicker>
      </mat-form-field>
  </div>


  <div>
      <mat-form-field>
          <input matInput (ngModelChange)="filterChanged()" [(ngModel)]="filter.title.query" placeholder="Title" #title>
      </mat-form-field>
      <mat-checkbox (ngModelChange)="filterChanged()" [(ngModel)]="filter.title.isRegexp">Regular Expression</mat-checkbox>
      <mat-checkbox *ngIf="filter.title.isRegexp" (ngModelChange)="filterChanged()" [(ngModel)]="filter.title.caseSensitive">Case Sensitive</mat-checkbox>
  </div>


  <div>
      <mat-form-field>
          <input matInput placeholder="Subtitle" (ngModelChange)="filterChanged()" [(ngModel)]="filter.subtitle.query" #subtitle>
      </mat-form-field>
      <mat-checkbox (ngModelChange)="filterChanged()" [(ngModel)]="filter.subtitle.isRegexp">Regular Expression</mat-checkbox>
      <mat-checkbox *ngIf="filter.subtitle.isRegexp" (ngModelChange)="filterChanged()" [(ngModel)]="filter.subtitle.caseSensitive">Case Sensitive</mat-checkbox>
  </div>


  <div>
      <mat-form-field>
          <input matInput placeholder="Link" (ngModelChange)="filterChanged()" [(ngModel)]="filter.link.query" #link>
      </mat-form-field>
      <mat-checkbox (ngModelChange)="filterChanged()" [(ngModel)]="filter.link.isRegexp">Regular Expression</mat-checkbox>
      <mat-checkbox *ngIf="filter.link.isRegexp" (ngModelChange)="filterChanged()" [(ngModel)]="filter.link.caseSensitive">Case Sensitive</mat-checkbox>
  </div>


  <mat-form-field>
      <input matInput placeholder="Owner (Publisher)" [(ngModel)]="filter.owner" (ngModelChange)="filterChanged()" #ownerInput>
  </mat-form-field>


  <mat-form-field>
      <mat-select placeholder="Category" (ngModelChange)="filterChanged(0)" [(ngModel)]="filter.category">
          <mat-option style="color: gray" [value]="">
              All
          </mat-option>
          <mat-option *ngFor="let category of fullCategoryName; let i = index" [value]="i">
              {{category}}
          </mat-option>
      </mat-select>
  </mat-form-field>


  <div>
      Price:
      <br>
      <mat-form-field>
          <input matInput type="number" [max]="filter.price.max" [(ngModel)]="filter.price.min" (ngModelChange)="filterChanged()" placeholder="Min"
              #priceMinInput>
      </mat-form-field>
      <mat-form-field>
          <input matInput type="number" [min]="filter.price.min" [(ngModel)]="filter.price.max" placeholder="Max" (ngModelChange)="filterChanged()"
              #priceMaxInput>
      </mat-form-field>
  </div>

</mat-expansion-panel>
<button *ngIf="authService.currentUser" class="m-2" mat-mini-fab (click)="openDialog()">
  <mat-icon color="primary" aria-label="Add product">add</mat-icon>
</button>
<mat-divider></mat-divider>
<mat-grid-list class="m-2" rowHeight="15em" [cols]="cols" gutterSize="0.5rem">
  <mat-grid-tile *ngFor="let product of products">
      <app-product [product]="product">
      </app-product>
  </mat-grid-tile>
</mat-grid-list>
<button *ngIf="!loadingMore && !reachedEndOfFeed" class="center" mat-fab (click)="loadMore()">
  <mat-icon color="primary" aria-label="Load more" >autorenew</mat-icon>
</button>
<mat-progress-bar *ngIf="loadingMore" mode="buffer"></mat-progress-bar>
<div class="divider-msg fancy" *ngIf="reachedEndOfFeed">
  <span>End of products feed</span>
</div>