<title>
    Website Title
</title>

<div style="height:100%; width:100%">
    <div id="prod_feed" style="float:left; position: relative; width:25%; height:30%; border: 3px solid #73AD21;">
        Products
    </div>

    <div style="float:left; position: relative; width:5%; height:30%;"></div>
    <div id="sell_feed" style="float:left; position: relative; width:25%; height:30%; border: 3px solid #73AD21;">
        Sellers
    </div>
    <div style="float:left; position: relative; width:5%; height:30%;"></div>
    <div id="rev_feed" style="float:left; position: relative; width:25%; height:30%; border: 3px solid #73AD21;">
        Reviews
    </div>
</div>

<app-disqus></app-disqus>

<div class="fb-comments" data-href="https://localhost:3000/home" data-numposts="5"></div>