mat-card-subtitle{
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 25%;
}

mat-card{
    // we need to specify it again to use the percentage in the subtitle
    height: 15em;
    margin: 2px;
    margin-bottom: 10px;
}