<h1 mat-dialog-title>Add Product</h1>
<form (ngSubmit)="productForm.form.valid && f.reportValidity() && addProduct()" id="productForm" #f #productForm="ngForm">
  <div mat-dialog-content>
    <mat-form-field>
      <input name="title" placeholder="Title" pattern=".{6,}" matInput required [(ngModel)]="product.title" #title>
    </mat-form-field>
    <mat-form-field>
      <input name="subtitle" placeholder="Subtitle" matInput required [(ngModel)]="product.subtitle" #subtitle>
    </mat-form-field>
    <mat-form-field>
      <input type="url" name="link" placeholder="Link" matInput required [(ngModel)]="product.link" #link>
    </mat-form-field>
    <mat-form-field>
      <input name="price" placeholder="Price" matInput type="number" required min="0" [(ngModel)]="product.price" #link>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Category" name="category" [(ngModel)]="product.category" required>
        <mat-option [value]="">
          Select...
        </mat-option>
        <mat-option *ngFor="let category of fullCategoryName; let i = index" [value]="i">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()">Cancel</button>
    <button mat-raised-button color="primary" cdkFocusInitial>Add</button>
  </div>
</form>