mat-toolbar{
    max-width: 100vw;
    overflow-x: auto;
}
:host{
    max-height: 100vh;
}
img.profile{
    max-height: -webkit-fill-available;
}
.float-right{
    float: right;
    margin-left: auto;
}