mat-toolbar{
    max-width: 100vw;
    overflow-x: auto;
}
:host{
    max-height: 100vh;
}
img.profile, img.my-logo{
    max-height: -webkit-fill-available;
}
.float-right{
    float: right;
    margin-left: auto;
}
.inline{
    display: inline;
}
a:hover{
    color: unset;
    text-decoration: unset;
}