<mat-toolbar color="primary">
  <mat-toolbar-row>
    <!-- <span>Custom Toolbar</span> -->

    <a class="m-2" mat-button routerLink="/"> Home </a>
    <a class="m-2" mat-button routerLink="/products"> Products </a>
    <a class="m-2" mat-button routerLink="/sellers"> Sellers </a>
    <a class="m-2" mat-button routerLink="/reviews"> Reviews </a>
    <a class="m-2" mat-button routerLink="/dmessages"> DM </a>
    <a class="m-2" mat-button routerLink="/admin"> Admin Panel </a>
    <a class="m-2" mat-button routerLink="/rooms"> Chat Rooms </a>

    <button *ngIf="!auth.currentUser" class="m-2" mat-raised-button color="accent" (click)="openLoginDialog()" style="float:right">
      <span> Login</span>
    </button>
    <button *ngIf="!auth.currentUser" class="m-2" mat-raised-button color="accent" (click)="openSignupDialog()" style="float:right">
      <span> Sign Up</span>
    </button>
    <button *ngIf="auth.currentUser" class="m-2" mat-raised-button color="primary" (click)="logout()" style="float:right">
      <span> Logout</span>
    </button>
  </mat-toolbar-row>
</mat-toolbar>