<button class="m-2" mat-raised-button color="primary" (click)="openLoginDialog()">
  Home
</button>
<button class="m-2" mat-raised-button color="primary" (click)="openLoginDialog()">
  Products
</button>
<button class="m-2" mat-raised-button color="primary" (click)="openLoginDialog()">
  Sellers
</button>
<button class="m-2" mat-raised-button color="primary" (click)="openLoginDialog()">
  Reviews
</button>
<button *ngIf="!auth.currentUser" class="m-2" mat-raised-button color="primary" (click)="openLoginDialog()">
  Login
</button>
<button *ngIf="auth.currentUser" class="m-2" mat-raised-button color="accent" (click)="logout()">
  Logout
</button>